.max-width-1080
  max-width: 1080px
  margin: 0 auto
.login-message
  padding: 20px
  background-color: #f5f5f5
  border: 1px solid #ccc
  border-radius: 5px
.login-link
  text-decoration: none
  color: blue
.login-link:hover
  text-decoration: underline
